*.db
*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
docs/site/*
docs/sources/*
docs/theme/fonts/*
docs/theme/img/*
tags

# test-related
.coverage
.cache
.pytest_cache

# developer environments
.idea
.vscode
